* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header line with name and menu*/
.header-banner {background:orange;
  display:flex;
  justify-content: space-between;
  width:100%;
  line-height: auto;
}

nav{
 
  align-items: center;
  display:inline-flex;
}

.pnav{
  width:max-content;
  padding:5px;  }

/*Hero banner with text box*/
.hero-banner{
  width:100%;
  height:300px;
  position:relative;
  text-align: right;
  margin-right:10px;
}
.hero-image{
width:100%;
height:300px;
}
  
.webdevtitle {
  position:absolute;
  right: 5%;
  bottom:10px;
  background:orange;
}
.avatar{
  height:90px;
  position:absolute;
  left:10px;
  top:10px;
  background:orange;
}
/*Container -main */
.page-wrapper{
  background-color: rgb(248, 233, 215);

}

.page-section{
  display:flex;
  flex-direction:row; 
}



/*About me*/
.about-me{
  padding-bottom:40px;
  margin-left: 8%;
  margin-right:2px;
  padding-right:5px;
  border-right: 3px solid black; 
}

.text-aboutme{
  padding-left:20px;
  padding-right:20px;
}

/*"Work" section with 5 projects*/

.work-title{
  margin-left:78px;
  margin-right:2px;
  padding-right:5px;
  border-right: 3px solid black;
  height: 800px;
}

.pict1{
  background-image: url(../images/02-portfolio-2.jpg);
}

.pict2{
  background-image:url(../images/02-portfolio-1.jpg);
}

.pict3{
  background-image: url(../images/02-portfolio-3.jpg);
}

.pict4{
  background-image: url(../images/02-portfolio-4.jpg);
}

.pict5{
  background-image: url(../images/02-run-buddy.jpg);
}

.flex-container{
  display:flex;
  flex-direction:row ;
  justify-content:center;
  flex-wrap:wrap;
}

.item:first-child{
  min-height:300px;
  flex-basis:100%;
}

.item{
    display:flex;
    align-items: flex-end;
    flex-basis:calc(50% - 1em);
    margin:0.5em;
    min-height:150px;
}

.item div{
    background-color:lightblue;
    padding:10px;
}

/*@media for body*/
@media screen and (max-width:768px) {
  .item{flex-basis:100%;}
}

@media screen and (max-width:480px){
  .item:first-child{
    min-height:150px;}

   .header-banner{
      background:orange;
      display:grid;
      grid-template-columns: 1fr;
      text-align: center;
      font-size: 12px;
  } 

  section.hero-banner{
    display:inline-block;
    height:170px;
  }

  .hero-banner h2{
      font-size: 12px;
      left:3px;
      width:50%;
      text-align:left;
  }

  .hero-image{
      height:180px;
  }

  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  a {
  font-size: 12px;
  }

.about-me{
  padding-bottom:20px;
  margin-left:1%;
  margin-right:2px;
  padding-right:5px; 
}
.work-title{
  margin-left:7px;
}
}


/*footer*/

footer{
  margin-bottom: 20px;
}
.con-title{
  margin-left:5%;
  margin-right:2px;
  padding-right:5px;
  border-right: 3px solid black;
}

.spacingfooter{
  display:flex;
 justify-content:space-between;
  align-items: center;
  margin-left:10px;
  margin-bottom:20px;
}

.spacingfooter a {
  padding-right: 20px;
}
.spacingfooter p{
  padding-right: 20px;
  padding-left:20px;
}
/*footer @media */
@media screen and (max-width:480px){
.con-title{
  display:none;
}

.spacingfooter p{
  display:none;
}

footer{
  margin:0px;
  padding:10px;
  display:flex;
  justify-content:center;
}
}