* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header line with name and menu*/
.header-banner {background:orange;
  display:flex;
  justify-content: space-between;
  border: 2px solid red;
  width:100%;
  line-height: auto;
}

nav{
 
  align-items: center;
  display:inline-flex;
}

.pnav{
  width:max-content;
  padding:5px;  }

/*Hero banner with text box*/
.hero-banner{
  width:100%;
  height:300px;
  position:relative;
  text-align: right;
}
.hero-image{
width:100%;
height:300px;
}
  
.webdevtitle {
  position:absolute;
  right: 5%;
  bottom:10px;
  background:orange;
}
.avatar{
  height:90px;
  position:absolute;
  left:10px;
  top:10px;
  background:orange;
}
/*Container -main */
.page-wrapper{
  background-color: rgb(248, 233, 215);
  border: 3px solid green;
;
}

.page-section{
  display:flex;
  flex-direction:row; 
}



/*About me*/
.about-me{
  padding-bottom:40px;
  margin-left: 8%;
  margin-right:2px;
  padding-right:5px;
  
  border-right: 3px solid black; 
}

.text-aboutme{
  padding-left:20px;
  padding-right:20px;
}

/*"Work" section*/

.work-title{
  margin-left:78px;
  margin-right:2px;
  padding-right:5px;
  border-right: 3px solid black;
  height: 800px;
}

.obraz1{
  background-image: url(../images/02-portfolio-2.jpg);
}

.obraz2{
  background-image:url(../images/02-portfolio-1.jpg);
}

.obraz3{
  background-image: url(../images/02-portfolio-3.jpg);
}

.obraz4{
  background-image: url(../images/02-portfolio-4.jpg);
}

.obraz5{
  background-image: url(../images/02-run-buddy.jpg);
}

.flex-container{
  display:flex;
  flex-direction:row ;
  justify-content:center;
  flex-wrap:wrap;
}

.item:first-child{
  min-height:300px;
  flex-basis:100%;
}

.item{
    display:flex;
    align-items: flex-end;
    flex-basis:calc(50% - 1em);
    margin:0.5em;
    min-height:150px;
}

.item div{
    background-color:lightblue;
    padding:10px;
}

@media screen and (max-width:768px) {
  .item{flex-basis:100%;}
}

@media screen and (max-width:600px){
  .item:first-child{
    min-height:150px;}
}




/*footer*/
.con-title{
  margin-left:5%;
  margin-right:2px;
  padding-right:5px;
  border-right: 3px solid black;
}

.spacingfooter{
  display:flex;
 justify-content:space-between;
  align-items: center;
  margin-left:10px;
}

.spacingfooter a {
  padding-right: 20px;
}
.spacingfooter p{
  padding-right: 20px;
  padding-left:20px;
}